In [1]:
# change lower case to upper case :
name = "ada lovelace"
print(name.title())

Ada Lovelace

In [2]:
name = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [3]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print(full_name)

ada lovelace

In [4]:
# This method of combining strings is called concatenation :
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print("Hello, " + full_name.title() + "!")

Hello, Ada Lovelace!

In [5]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
message = "Hello, " +full_name.title() + "!"
print(message)

Hello, Ada Lovelace!

In [6]:
# Adding Whitespace to Strings with Tabs or Newlines:
print("Hello")
print("\tHello")
print("\t\tHello")

Hello
	Hello
		Hello

In [7]:
#To add a newline in a string:
print("\nHello\nMan\nHow are you")

Hello
Man
How are you

In [8]:
print ("\n Hello\n\tMan")

 Hello
	Man

In [9]:
# remove strip whitespace from the right and left side
favorite_language = ' python '
favorite_language = favorite_language.rstrip()
favorite_language

' python'

In [10]:
favorite_language = favorite_language.lstrip()
favorite_language

'python'

In [11]:
message = "One of Python's strengths is its diverse community."
print(message)

One of Python's strengths is its diverse community.

In [12]:
## Numbers

In [13]:
3 ** 2

9

In [14]:
3 ** 3

27

In [15]:
2+ 3*4

14

In [16]:
# Floats:
0.1 + 0.1

0.2

In [17]:
#you can sometimes get an arbitrary number of deci-mal places
0.2 + 0.1

0.30000000000000004

In [18]:
3 * 0.1

0.30000000000000004

In [19]:
# Can't convert 'int' object to str implicitly:
age = 23
message = "Happy " + str(age) + "rd BirthDay"
print(message)

Happy 23rd BirthDay

In [20]:
# List

In [21]:
bicycles = ['trek','cannondale','redline','specialized']
print(bicycles)
type(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

list

In [22]:
print(bicycles[0])

trek

In [23]:
print(bicycles[-1])

specialized

In [24]:
bicycles = ['Trek','cannondale','redline','specialized']
message = "my first bicycle was a " + bicycles[0]
print(message)

my first bicycle was a Trek

In [25]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [26]:
motorcycles[0] = 'ducati'

In [27]:
## The append()

In [28]:
motorcycles

['ducati', 'yamaha', 'suzuki']

In [29]:
motorcycles.append('BMW')

In [30]:
motorcycles

['ducati', 'yamaha', 'suzuki', 'BMW']

In [31]:
car = []

In [32]:
car.append('toyota')

In [33]:
car

['toyota']

In [34]:
car.append('BMW')

In [35]:
car

['toyota', 'BMW']

In [36]:
# Removing Elements from a List

In [37]:
motorcycles

['ducati', 'yamaha', 'suzuki', 'BMW']

In [38]:
del motorcycles[0]

In [39]:
motorcycles

['yamaha', 'suzuki', 'BMW']

In [40]:
# Removing an Item Using the pop() Method :
# The pop() method removes the last item in a list

In [41]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [42]:
motorcycles_pop = motorcycles.pop()
print(motorcycles_pop)

suzuki

In [43]:
motorcycles.pop()

'yamaha'

In [44]:
motorcycles.pop()

'honda'

In [45]:
# Popping Items from any Position in a List
# Remember that each time you use pop() , the item you work with is no longer stored in the list

In [46]:
motorcycles = ['honda', 'yamaha', 'suzuki']

In [47]:
motorcycles

['honda', 'yamaha', 'suzuki']

In [48]:
first_pop = motorcycles.pop(0)
print('the first pop is ' + first_pop.title())

the first pop is Honda

In [49]:
# Removing an Item by Value

In [50]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']

In [51]:
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [52]:
motorcycles.remove('ducati')

In [53]:
motorcycles

['honda', 'yamaha', 'suzuki']

In [54]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " \ntoo expnsive for me")

['honda', 'yamaha', 'suzuki']

A Ducati
too expnsive for me

In [55]:
# Sorting a List Permanently with the sort() Method

In [56]:
cars = ['bmw','audi','toyota','subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [57]:
# reverse alphabetical order by passing the argument reverse=True to the sort() method
cars.sort(reverse = True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [58]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [59]:
# list still exists in its original order
sorted(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [60]:
cars # list still exists in its original order

['toyota', 'subaru', 'bmw', 'audi']

In [61]:
len(cars)

4

In [62]:
# Looping Through an Entire List:

In [63]:
magicians = ['alice','david','carolina']

In [64]:
for magician in magicians:
    print(magician)

alice
david
carolina

In [65]:
greeting = ['hi','hello','bye', 'good bye','bye bye']

In [66]:
for i in greeting:
    print(i.title() + "\nthat was really good greetings!")

Hi
that was really good greetings!
Hello
that was really good greetings!
Bye
that was really good greetings!
Good Bye
that was really good greetings!
Bye Bye
that was really good greetings!

In [67]:
magicians

['alice', 'david', 'carolina']

In [68]:
for magician in magicians:
    print("I can't wait to see your next trick! " + magician.title() + ".\n")
print("Thank you,everyone. That was a great magic show !" + magician.title())

I can't wait to see your next trick! Alice.

I can't wait to see your next trick! David.

I can't wait to see your next trick! Carolina.

Thank you,everyone. That was a great magic show !Carolina

In [69]:
# Making Numerical Lists

In [70]:
for value in range(1,5):
    print(value)

1
2
3
4

In [71]:
# Using range() to Make a List of Numbers :

In [72]:
numbers = list(range(1, 6))

In [73]:
numbers

[1, 2, 3, 4, 5]

In [74]:
type(numbers)

list

In [75]:
number = list(range(0,11, 2))

In [76]:
number

[0, 2, 4, 6, 8, 10]

In [77]:
squares = []
for value in range(1, 11):
    squares = value**2
    print(squares)

# print(squares)    # It should be print last value of the output of the list

1
4
9
16
25
36
49
64
81
100

In [78]:
squares = []
for value in range(1,11):
    square = value**2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [79]:
type(squares)

list

In [80]:
# Simple Statistics with a List of Numbers

In [81]:
digits = list(range(0, 10))

In [82]:
digits

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
min(digits)

0

In [84]:
max(digits)

9

In [85]:
sum(digits)

45

In [86]:
# List Comprehensions :

In [87]:
squares = [value**2 for value in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [88]:
# Use a for loop to print the numbers from 1 to 20

In [89]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [90]:
# Make a list of the numbers from one to 25, and then use a for loop to print the numbers
a = []
for i in range(1, 26):
    a.append(i)
    
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [91]:
type(a)

list

In [92]:
lis = []
for j in range(1, 21, 2):
    lis.append(j)
    print(lis)

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 7]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, 11]
[1, 3, 5, 7, 9, 11, 13]
[1, 3, 5, 7, 9, 11, 13, 15]
[1, 3, 5, 7, 9, 11, 13, 15, 17]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [93]:
type(lis)

list

In [94]:
print(lis)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [95]:
# Slicing a List:

In [96]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [97]:
players

['charles', 'martina', 'michael', 'florence', 'eli']

In [98]:
a = players[:2]

In [99]:
a

['charles', 'martina']

In [100]:
print(players[2:])

['michael', 'florence', 'eli']

In [101]:
print(players[-2:])

['florence', 'eli']

In [102]:
# Looping Through a Slice

In [103]:
players = ['charles', 'martina', 'michael', 'florence', 'eli']

In [104]:
for player in players[:3]:
    print(player)

charles
martina
michael

In [105]:
type(player)

str

In [106]:
# Copying a List

In [107]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]

In [108]:
friend_foods

['pizza', 'falafel', 'carrot cake']

In [109]:
my_foods

['pizza', 'falafel', 'carrot cake']

In [110]:
dimensions = (200, 50, 25)
print(dimensions[0])
print(dimensions[1])
print(dimensions[2])

200
50
25

In [111]:
# Looping Through All Values in a Tuple
print("original dimensions:")
for dimension in dimensions:
    print(dimension)

original dimensions:
200
50
25

In [112]:
cars = ['audi', 'bmw', 'subaru','toyota']

for car in cars:
    if car == 'bmw':
        print(car.upper())
    else:
        print(car.lower())

audi
BMW
subaru
toyota

In [113]:
car ='audi'
car == 'bmw'

False

In [114]:
car = 'toyota'
car == 'toyota'

True

In [115]:
car = 'Audi'
car.lower() == 'audi'

True

In [116]:
# Checking for Inequality

In [117]:
requested_topping = 'mushrooms'

In [118]:
if requested_topping != 'anchovies':
    print("Hold the anchovies")
else:
    print("not found")

Hold the anchovies

In [119]:
if requested_topping != 'mushrooms':
    print("Hold the anchovies")
else:
    print("not found")

not found

In [120]:
a = 10

In [121]:
a

10

In [122]:
type(a)

int

In [123]:
if a != 10:
    print("hello")
else:
    print("hi")

hi

In [124]:
# Numerical Comparisons:

In [125]:
age = 18

In [126]:
age

18

In [127]:
age == 18

True

In [128]:
age == 19

False

In [129]:
age < 20

True

In [130]:
age<12

False

In [131]:
# Checking Multiple Conditions

In [132]:
age_0 = 22 
age_1 = 18

In [133]:
age_0 >= 21 and age_1 >=21

False

In [134]:
age_0 >= 21 or age_1 >= 21

True

In [135]:
# Checking Whether a Value Is in a List:

In [136]:
food = ['apple','orange','rice','mango']
print(food)

['apple', 'orange', 'rice', 'mango']

In [137]:
type(food)

list

In [138]:
'apple' in food

True

In [139]:
'headphone' in food

False

In [140]:
name = ['andrew', 'carolina', 'david']
user = 'mariA'

In [141]:
 if user not in name:
        print(user.title() + ", you can post the response if you wish.")

Maria, you can post the response if you wish.

In [142]:
age = 18 
if age >= 19:
    print("teen age")
else:
    print("you are old enough to vote!")

you are old enough to vote!

In [143]:
age = 17
if age < 4:
    print("your cost is 0$")
elif age < 18:
    print("your cost is $5")
else:
    print("cost is $10")

your cost is $5

In [144]:
age = 12 
if age < 4:
    price = 0
elif age < 18:
    price = 5
else:
    price = 10
print("your admission cost is $" + str(price) + ".")

your admission cost is $5.

In [145]:
# Testing Multiple Conditions

In [146]:
requested_toppings = ['mushrooms', 'extra cheese']

In [147]:
type(requested_toppings)

list

In [148]:
if 'mushrooms' in requested_toppings:
    print("Adding mushrooms")
if 'pepperoni' in requested_toppings:
    print("Adding Pepperoni")
if 'extra cheese' in requested_toppings:
    print("Adding extra cheese")
if 'banana' in requested_toppings:
    print("Adding Bannana")

Adding mushrooms
Adding extra cheese

In [149]:
A =["10","15","20"]

In [150]:
A

['10', '15', '20']

In [151]:
type(A)

list

In [152]:
if "10" in A:
    print("Hello")
if "20" in A:
    print("Hola")
if "30" in A:
    print("Good Bye")

Hello
Hola

In [153]:
requested_toppings = ['mushrooms', 'green peppers', 'extra cheese']
if requested_toppings == 'green peppers':
    print("Sorry, we are out of the green peppers")
else:
    print("Adding " + requested_topping + ".")

Adding mushrooms.

In [154]:
# Checking That a List Is Not Empty

In [155]:
requested_toppings = []

if requested_toppings:
    for requested_topping in requested_toppings:
        print("Adding " + requested_topping + ".")
    print("\nFinised making your Pizza !")
else:
    print("Are you sure you want a plain pizza")

Are you sure you want a plain pizza

In [156]:
available_toppings = ['mushrooms', 'olives', 'green peppers','pepperoni', 'pineapple', 'extra cheese']
requested_toppings = ['mushrooms','french fries', 'extra cheese']
for requested_topping in requested_toppings:
    if requested_topping in available_toppings:
        print("Adding " + requested_topping + ".")
    else:
        print("Sorry, we don't have " + requested_topping + ".")

Adding mushrooms.
Sorry, we don't have french fries.
Adding extra cheese.

In [157]:
name_lists = ['jam', 'cam', 'Dam', 'lucy']
requested_names = ['voot']
for requested_name in requested_names:
    if requested_name in name_lists:
        print(" Adding " + requested_name)
    else:
        print("No longer in the list")

No longer in the list

###  Dictionary

In [158]:
alien_0 = {'color': 'green','points':5}

In [159]:
alien_0

{'color': 'green', 'points': 5}

In [160]:
print(alien_0['color'])
print(alien_0['points'])

green
5

In [161]:
new_points = alien_0['points']

In [162]:
print("You just earned " + str(new_points) + ".")

You just earned 5.

In [163]:
# Adding the New key value

In [164]:
alien_0['x_position'] = 0
alien_0['y_position'] = 25
print(alien_0)

{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [165]:
#Starting with an Empty Dictionary

In [166]:
alien_0 ={}
alien_0['color'] = 'Red'
alien_0['points'] = 10
print(alien_0)

{'color': 'Red', 'points': 10}

In [167]:
alien_0['color'] = 'yellow'
print(alien_0)

{'color': 'yellow', 'points': 10}

In [168]:
alien_1 = {'x_position':0, 'y_position':25, 'speed':'medium'}

In [169]:
print("Orginal x-position:" + str(alien_1['x_position']))

Orginal x-position:0

In [170]:
# Move the alien to the right :

In [171]:
alien_1 = {'x_position':0, 'y_position':25, 'speed':'medium'}

if alien_1['speed'] == 'slow':
    x_increment = 1
elif alien_1['speed'] =='medium':
    x_increment = 2
else:
    x_increment = 3

alien_1['x_position'] = alien_1['x_position'] + x_increment
print("New x-position " + str(alien_1['x_position']))

New x-position 2

In [172]:
# A Dictionary of Similar Objects

In [173]:
favorite_language ={
    'Jen':'python',
    'sarah':'c',
    'edward':'ruby',
    'phil':'python'
}

In [174]:
print("jen favorite language is " + favorite_language['Jen'].title())

jen favorite language is Python

In [175]:
# Looping Through a Dictionary

In [176]:
user_0 ={
    'username': 'efermi',
    'first': 'enrico',
    'last': 'fermi'
}

In [177]:
for key, value in user_0.items():
    print("\n key: " + key)
    print("\n value: " + value)

 key: username

 value: efermi

 key: first

 value: enrico

 key: last

 value: fermi

In [178]:
favorite_language ={
    'Jen':'python',
    'sarah':'c',
    'edward':'ruby',
    'phil':'python'
}

In [179]:
for name, language in favorite_language.items():
    print( name.title() + "favorite language is " + language.title())

Jenfavorite language is Python
Sarahfavorite language is C
Edwardfavorite language is Ruby
Philfavorite language is Python

In [180]:
for name,language in favorite_language.items():
    print(name.title() + " favorite language is " + language )

Jen favorite language is python
Sarah favorite language is c
Edward favorite language is ruby
Phil favorite language is python

In [181]:
favorite_language ={
    'Jen':'python',
    'sarah':'c',
    'edward':'ruby',
    'phil':'python'
}

In [182]:
print("The following languages have been mentioned :")
for language in set(favorite_language.values()):
    print(language.title())

The following languages have been mentioned :
C
Ruby
Python

In [183]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

In [184]:
alien = [alien_0, alien_1, alien_2]

In [185]:
alien

[{'color': 'green', 'points': 5},
 {'color': 'yellow', 'points': 10},
 {'color': 'red', 'points': 15}]

In [186]:
type(alien)

list

In [187]:
for aliens in alien:
    print(alien)

[{'color': 'green', 'points': 5}, {'color': 'yellow', 'points': 10}, {'color': 'red', 'points': 15}]
[{'color': 'green', 'points': 5}, {'color': 'yellow', 'points': 10}, {'color': 'red', 'points': 15}]
[{'color': 'green', 'points': 5}, {'color': 'yellow', 'points': 10}, {'color': 'red', 'points': 15}]

In [188]:
aliens = []
for alien_number in range(5):
    new_alien = {'color': 'green', 'points':5, 'speed': 'slow'}
    aliens.append(new_alien)
    print(new_alien)

{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}

In [189]:
for alien in aliens[:5]:
    print(alien)

{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}

In [190]:
# How the input() Function Works:

In [191]:
message = input("tell me : ")

tell me : hello cavid

In [192]:
name = input("please enter your name : ")
print("Hello " + name)

please enter your name : cavid
Hello cavid

In [198]:
prompt = "If you tell us who you are, "
prompt += "\nWhat is your first name ?"
name = input(prompt)

If you tell us who you are,
What is your first name ?zavi

In [199]:
# Using int() to Accept Numerical Input:

In [200]:
age = input("How old are you ? ")

How old are you ? 21

In [207]:
# Using int() to Accept Numerical Input

In [208]:
height = input("How tall are you, in inches? ")

How tall are you, in inches? 71

In [209]:
height = int(height)
if height >= 36:
    print("\nYou are tall enough to ride !")
else:
    print(" you will be able to ride when you are little order ")

You are tall enough to ride !

In [214]:
number = input("Enter a number ")

Enter a number 7

In [215]:
number = int(number)
if number % 2 == 0:
    print("The number is " +str(number) + " is even")
else:
    print("The number is " + str(number) + " is odd")

The number is 7 is odd

In [216]:
# Introducing while Loops:

In [221]:
current_number = 1 
while current_number <= 5:
    print(current_number)
    current_number += 1

1
2
3
4
5