In [2]:
# change lower case to upper case :
name = "ada lovelace"
print(name.title())

Ada Lovelace

In [4]:
name = "Ada Lovelace"
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [6]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print(full_name)

ada lovelace

In [9]:
# This method of combining strings is called concatenation :
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
print("Hello, " + full_name.title() + "!")

Hello, Ada Lovelace!

In [11]:
first_name = "ada"
last_name = "lovelace"
full_name = first_name + " " + last_name
message = "Hello, " +full_name.title() + "!"
print(message)

Hello, Ada Lovelace!

In [14]:
# Adding Whitespace to Strings with Tabs or Newlines:
print("Hello")
print("\tHello")
print("\t\tHello")

Hello
	Hello
		Hello

In [15]:
#To add a newline in a string:
print("\nHello\nMan\nHow are you")

Hello
Man
How are you

In [20]:
print ("\n Hello\n\tMan")

 Hello
	Man

In [52]:
# remove strip whitespace from the right and left side
favorite_language = ' python '
favorite_language = favorite_language.rstrip()
favorite_language

' python'

In [53]:
favorite_language = favorite_language.lstrip()
favorite_language

'python'

In [54]:
message = "One of Python's strengths is its diverse community."
print(message)

One of Python's strengths is its diverse community.

In [ ]:
## Numbers

In [59]:
3 ** 2

9

In [60]:
3 ** 3

27

In [61]:
2+ 3*4

14

In [62]:
# Floats:
0.1 + 0.1

0.2

In [63]:
#you can sometimes get an arbitrary number of deci-mal places
0.2 + 0.1

0.30000000000000004

In [64]:
3 * 0.1

0.30000000000000004

In [68]:
# Can't convert 'int' object to str implicitly:
age = 23
message = "Happy " + str(age) + "rd BirthDay"
print(message)

Happy 23rd BirthDay

In [70]:
# List

In [74]:
bicycles = ['trek','cannondale','redline','specialized']
print(bicycles)
type(bicycles)

['trek', 'cannondale', 'redline', 'specialized']

list

In [77]:
print(bicycles[0])

trek

In [84]:
print(bicycles[-1])

specialized

In [87]:
bicycles = ['Trek','cannondale','redline','specialized']
message = "my first bicycle was a " + bicycles[0]
print(message)

my first bicycle was a Trek

In [88]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [89]:
motorcycles[0] = 'ducati'

In [ ]:
## The append()

In [101]:
motorcycles

['ducati', 'yamaha', 'suzuki', 'BMW']

In [91]:
motorcycles.append('BMW')

In [92]:
motorcycles

['ducati', 'yamaha', 'suzuki', 'BMW']

In [95]:
car = []

In [96]:
car.append('toyota')

In [97]:
car

['toyota']

In [99]:
car.append('BMW')

In [100]:
car

['toyota', 'BMW']

In [102]:
# Removing Elements from a List

In [103]:
motorcycles

['ducati', 'yamaha', 'suzuki', 'BMW']

In [104]:
del motorcycles[0]

In [105]:
motorcycles

['yamaha', 'suzuki', 'BMW']

In [106]:
# Removing an Item Using the pop() Method :
# The pop() method removes the last item in a list

In [121]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [122]:
motorcycles_pop = motorcycles.pop()
print(motorcycles_pop)

suzuki

In [124]:
motorcycles.pop()

'yamaha'

In [126]:
motorcycles.pop()

'honda'

In [141]:
# Popping Items from any Position in a List
# Remember that each time you use pop() , the item you work with is no longer stored in the list

In [138]:
motorcycles = ['honda', 'yamaha', 'suzuki']

In [139]:
motorcycles

['honda', 'yamaha', 'suzuki']

In [140]:
first_pop = motorcycles.pop(0)
print('the first pop is ' + first_pop.title())

the first pop is Honda

In [142]:
# Removing an Item by Value

In [143]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']

In [144]:
print(motorcycles)

['honda', 'yamaha', 'suzuki', 'ducati']

In [145]:
motorcycles.remove('ducati')

In [146]:
motorcycles

['honda', 'yamaha', 'suzuki']

In [154]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)
print("\nA " + too_expensive.title() + " \ntoo expnsive for me")

['honda', 'yamaha', 'suzuki']

A Ducati
too expnsive for me

In [155]:
# Sorting a List Permanently with the sort() Method

In [156]:
cars = ['bmw','audi','toyota','subaru']
cars.sort()
print(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [158]:
# reverse alphabetical order by passing the argument reverse=True to the sort() method
cars.sort(reverse = True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [160]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [162]:
# list still exists in its original order
sorted(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [163]:
cars # list still exists in its original order

['toyota', 'subaru', 'bmw', 'audi']

In [164]:
len(cars)

4

In [165]:
# Looping Through an Entire List:

In [166]:
magicians = ['alice','david','carolina']

In [167]:
for magician in magicians:
    print(magician)

alice
david
carolina

In [168]:
greeting = ['hi','hello','bye', 'good bye','bye bye']

In [175]:
for i in greeting:
    print(i.title() + "\nthat was really good greetings!")

Hi
that was really good greetings!
Hello
that was really good greetings!
Bye
that was really good greetings!
Good Bye
that was really good greetings!
Bye Bye
that was really good greetings!

In [176]:
magicians

['alice', 'david', 'carolina']

In [186]:
for magician in magicians:
    print("I can't wait to see your next trick! " + magician.title() + ".\n")
print("Thank you,everyone. That was a great magic show !" + magician.title())

I can't wait to see your next trick! Alice.

I can't wait to see your next trick! David.

I can't wait to see your next trick! Carolina.

Thank you,everyone. That was a great magic show !Carolina

In [187]:
# Making Numerical Lists

In [194]:
for value in range(1,5):
    print(value)

1
2
3
4