In [2]:
magicians = ['alice', 'david', 'carolina']

In [11]:
for magician in magicians:
    print(magician.title() + ", that was a gere trick")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")

Alice, that was a gere trick
I can't wait to see your next trick, Alice.

David, that was a gere trick
I can't wait to see your next trick, David.

Carolina, that was a gere trick
I can't wait to see your next trick, Carolina.

In [12]:
result = input("enter the value")

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.
enter the value555

In [13]:
result

'555'

In [6]:
requested_toppings = ['mushrooms', 'green peppers', 'extra cheese']
for i in requested_toppings:
    if i == 'green peppers':
        print("out of stock")
    else:
        print(i)

mushrooms
out of stock
extra cheese

In [7]:
requested_toppings = []
if requested_toppings:
    for i in requested_toppings:
        print("Adding", requested_toppings)
else:
    print("Are you sure you need plane pizza")

Are you sure you need plane pizza

In [11]:
available_toppings = ['mushrooms', 'olives', 'green peppers','pepperoni', 'pineapple', 'extra cheese']

requested_toppings = ['mushrooms', 'french fries', 'extra cheese']

In [14]:
for i in requested_toppings:
    if i in available_toppings:
        print("adding " + i)
    else:
        print("sorry we don't have", i)

adding mushrooms
sorry we don't have french fries
adding extra cheese

In [15]:
alien_0 = {'color': 'green', 'points': 5}

In [18]:
alien_0['color']

'green'

In [19]:
new_points = alien_0['points']

In [21]:
new_points

5

In [22]:
alien_0 = {'color': 'green', 'points': 5}
alien_1 = {'color': 'yellow', 'points': 10}
alien_2 = {'color': 'red', 'points': 15}

In [23]:
aliens = [alien_0, alien_1, alien_2]

In [24]:
for i in aliens:
    print(i)

{'color': 'green', 'points': 5}
{'color': 'yellow', 'points': 10}
{'color': 'red', 'points': 15}

In [25]:
aliens = []

for alien_number in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

In [26]:
for alien in aliens:
    print(alien)

{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}
{'color': 'green', 'points': 5, 'speed': 'slow'}

In [1]:
a = []

for i in range(10):
    new = {'color': 'green', 'age':10}
    a.append(new)

In [3]:
a[:5]

[{'color': 'green', 'age': 10},
 {'color': 'green', 'age': 10},
 {'color': 'green', 'age': 10},
 {'color': 'green', 'age': 10},
 {'color': 'green', 'age': 10}]

In [17]:
pizza = {
    'crust': 'thick',
    'toppings':['musrooms', 'extra cheese'],
}

In [18]:
print(" you order " + pizza['crust'] +" pizza" )

 you order thick pizza

In [19]:
for topping in pizza['toppings']:
    print(topping)

crust
toppings

In [20]:
for toing in pizza['crust']:
    print(toing)

t
h
i
c
k

In [5]:
a = input("enter the number")
a = int(a)
if a%2== 0:
    print("even")
else:
    print("odd")

enter the number13
odd

In [15]:
frutes = ["apple", "bannana", "mango"]
chines = ["egg role", "pot sticker", "fried rice"]

dish = input("enter the food name")

if dish in frutes:
    print("its frutes")
if dish in chines:
    print("its chines food")
else:
    print("out of stock", dish)

enter the food namevim
out of stock vim

In [17]:
exp = [2000, 5000, 4000, 3000]
total = 0
for expence in exp:
    total = total+expence
print("total ammout", total)

total ammout 14000

In [19]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
exp = [2000, 5000, 4000, 3000]
total = 0
for i in range(len(exp)):
    print("Month", (i+1),"Expense is",exp[i])
    total = total + exp[i]
print("total expense is ", total)

Month 1 Expense is 2000
Month 2 Expense is 5000
Month 3 Expense is 4000
Month 4 Expense is 3000
total expense is  14000

In [29]:
key_location = "chair"
location = ["grage", "living room", "chair", "closet"]
for i in location:
    if i==key_location:
        print("key is found in ", i)
        break
    else:
        print("key is not found in ",i)

key is not found in  grage
key is not found in  living room
key is found in  chair

In [31]:
for i in range(1, 6):
    print(i*i)

1
4
9
16
25

In [1]:
for i in range(1,6):
    if i%2 == 0:
        continue
    print(i)

1
3
5

In [14]:
tom_expense_list = [200,500,700]
joe_expense_list = [250, 120,450]
total = 0
for i in tom_expense_list:
    total = total + i
print("total expense of tom", total)

total = 0
for j in joe_expense_list:
      total = total + j
print("total expense of joe", total)

total expense of tom 1400
total expense of joe 820

In [19]:
tom_expense_list = [200,500,700]
joe_expense_list = [250, 120,450]

def calculate_total(exp):
    total = 0
    for item in exp:
        total = item + total
    return total

tom_total = calculate_total(tom_expense_list)
print("tom total expense ", tom_total)

tom total expense  1400

In [20]:
joe_total = calculate_total(joe_expense_list)
print("joe total expense ", joe_total)

joe total expense  820

In [21]:
def add_nember(number1, number2):
    add = number1 + number2
    return add

a = 10
b = 20

total_number = add_nember(a,b)
print("the add number is ", total_number)

the add number is  30

In [3]:
d = {"tom": 7256122,"rob":4364213,"jerrey":464465}

In [6]:
for key in d:
    print("key:",key,"value",d[key])

key: tom value 7256122
key: rob value 4364213
key: jerrey value 464465

In [12]:
for k,v in d.items():
    print("key:",k,"value",v)

key: tom value 7256122
key: rob value 4364213
key: jerrey value 464465

In [13]:
import math

In [14]:
math.sqrt(16)

4.0

In [15]:
dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [19]:
math.ceil(2.3)

3

In [20]:
import calendar

In [21]:
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_monthlen',
 '_nextmonth',
 '_prevmonth',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthrange',
 'prcal',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [37]:
cal = calendar.month(2021,8)

In [36]:
print(cal)

    August 2021
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

In [46]:
calendar.isleap(2024)

True

In [48]:
cal = calendar.month(2024,8)

In [49]:
print(cal)

    August 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31